@media (min-width: 1200px){
    .container {
        width: 960px;
    }
}
@media (min-width: 992px){
    .container {
        width: 950px;
    }
}
@media (min-width: 768px){
    .min-section .media-body {
        padding-right: 220px;
    }
}