ul {
	padding: 0;
}
li {
	list-style: none;
}
body {
	background: #fff;
	font-family: "Myriad Pro",sans-serif;
}
section {
	overflow: hidden;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: none;
}
.btn-danger {
	background: #c73430;
}
.btn-danger:hover {
	background-color: #e43d39;
	border-color: #e43d39;
}
.btn-primary {
	background-color: #3267a1;
}
.btn-primary:hover {
	background-color: #3267a1;
	border-color: #3267a1;
}
.title {
	text-transform: uppercase;
	text-align: center;
	margin: 45px 0 0 0;
	color: #fff;
	font-size: 40px;
}
.title-sm {
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 29px;
	margin-bottom: -34px;
}
.form-control {
	height: 50px;
}
.form-control:focus {
	box-shadow: none;
}
.header {
	background: url("../img/bg-header-sm.png") no-repeat;
	background-size: auto 100%;
	min-height: 760px;
}
.top-line {
	min-height: 102px;
	box-shadow: 0 0 10px #000;
}
.logo {
	margin-top: 14px;
}
.logo img {
	width: 100%;
	max-width: 308px;
}
.call {
	color: #113d6a;
	font-size: 18px;
	text-align: center;
}
.call span {
	margin-right: 6px;
}
.call .btn {
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 4px;
}
.description {
	color: #113d6a;
	text-transform: uppercase;
}
.description li {
	overflow: hidden;
}
.description li h1 {
	font-weight: bold;
	font-size: 68px;
	margin: 35px 0 0 0;
}
.description li h5 {
	color: #404040;
	font-size: 30px;
	margin-top: -5px;
	text-transform: none;
}
.description li h4 {
	font-size: 33px;
	margin-top: 10px;
	margin-bottom: 0;
}
.description li h3 {
	font-size: 53px;
	font-weight: bold;
	margin-top: 0;
	float: left;
}
.header-btn {
	border: 1px solid #fff;
	margin: 35px auto 0 auto;
	display: block;
	border-radius: 11px;
	padding: 18px 28px;
	text-transform: uppercase;
	font-size: 17px;
}
.play-video {
	background: url("../img/video.png") no-repeat center left;
	font-weight: bold;
	color: #c73430;
	height: 43px;
	padding: 6px 0 3px 48px;
	margin-left: 10px;
	display: table;
}
.play-video:hover {
	font-weight: bold;
	color: #c73430;
}
.list-icon {
	text-align: center;
	padding-bottom: 0;
}
.list-icon li {
	display: inline-block;
	width: 160px;
	vertical-align: top;
	margin: 29px 18px 0 18px;
}
.list-icon li img {
	margin: 0 35px 3px 35px;
}
.list-icon li span {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #113d6a;
}
/*two-section*/
.two-section {
	background-color: #2861a1;
	color: #fff;
	padding-bottom: 48px;
}
.two-section .item-section {
	border-radius: 10px;
	border: 2px solid #00aeef;
	margin: 15px 0 15px 0;
	padding: 15px;
}
.two-section .item-section h4 {
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0 71px;
	margin-bottom: 5px;
}
.two-section .item-section span {
	font-size: 20px;
	line-height: 1.2;
}
.number-list li {
	display: block;
	text-align: center;
}
.section-number {
	background: #232831 url("../img/bg-section-number.png") no-repeat -290px;
	background-size: auto 100%;
	color: #fff;
}
.section-number .title-sm {
	margin: 41px 0 50px 0;
	font-weight: normal;
	text-transform: none;
	font-size: 24px;
}
.section-number .number {
	display: block;
	width: 145px;
	height: 145px;
	text-align: center;
	line-height: .7;
	font-weight: bold;
	margin: 0 auto 15px auto;
	font-size: 34px;
	padding: 62px 0;
}
.section-number .number small {
	font-size: 17px;
}

.section-number .number{
	position: relative;

}
.section-number .number::before {
	position: absolute;
	top:0;
	left: 0;
	background: url("../img/number-1.2.png") no-repeat;
	transform: rotate(38deg);
	content: '';
	width: 145px;
	height: 145px;
}

.section-number .number-2::before {
	transform: rotate(90deg);
	content: '';
}
.section-number .number-3::before {
	transform: rotate(0deg);
	content: '';
}
.section-number .number-3 {
	padding: 54px 0;
}
.section-number .text {
	display: block;
	width: 145px;
	height: 100px;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	text-transform: uppercase;
}
.section-description {
	font-size: 17px;
	text-align: center;
}
.earning-partners .btn {
	display: block;
	margin: 45px auto;
	font-size: 20px;
	border-radius: 10px;
}
.min-section {
	background: #fff;
	color: #000;
	margin: 100px 0;
	padding-bottom: 30px;
	position: relative;
}
.min-section::before {
	content: "";
	display: table;
}
.min-section .title {
	margin: 30px;
	color: #113d6a;
}
.min-sect-item {
	overflow: hidden;
}
.min-sect-item .num{
	line-height: 1;
	text-align: center;
	color: #92a3b7;
	font-size: 164px;
	font-weight: bold;
}
.min-sect-item p {
	font-size: 24px;
	margin-top: 18px;
}
/*.earning-partners*/
.earning-partners {
	background: #f4f4f4 url("../img/bg-earning-partners.png") no-repeat -290px;
	background-size: auto 100%;
}
.earning-partners .title, .answers-to-questions .title {
	color: #113d6a;
	margin-bottom: 45px;
}
.earning-partners p {
	padding: 0 100px;
	font-size: 20px;
}
/*.how-to-start*/
.how-to-start {
	background: url("../img/bg-number.png") no-repeat center;
}
.how-to-start h4, .how-to-start h2{
	color: #284e75;
}
.item1, .item3, .item5 {
	background: no-repeat center bottom;
	text-align: center;
	padding-bottom: 110px;
	margin-bottom: 80px;
	font-size: 18px;
	position: relative;
}
.item2,.item4 {
	background: no-repeat center top;
	text-align: center;
	padding-top: 110px;
	margin-bottom: 80px;
	font-size: 18px;
	position: relative;
}
.item1 {
	background-image: url("../img/avatar-2.png");
}
.item2 {
	background-image: url("../img/avatar-2.png");
}
.item3 {
	background-image: url("../img/avatar-2.png");
}
.item4 {
	background-image: url("../img/avatar-2.png");
}
.item5 {
	background-image: url("../img/avatar-2.png");
}
/*.box-questions*/
.answers-to-questions {
	background: #f0f3f7;
	padding-bottom: 45px;
}
.box-questions {
	margin-bottom: 40px;
}
.questions, .answer {
	overflow: hidden;
}
.box-questions img {
	border-radius:50%;
	border: solid 2px #fff;
	width: 100px;
	height:100px;
}
.box-questions .answer img {
	float: right;
}
.questions p, .answer p {
	font-weight: bold;
	min-height: 100px;
	position: relative;
	background: #fff;
	padding: 20px;
}
.questions p::before {
	content: "";
	position: absolute;
	border: solid 20px transparent;
	border-right: solid 20px #fff;
	left: -39px;
}
.answer p::before {
	content: "";
	position: absolute;
	border: solid 20px transparent;
	border-left: solid 20px #fff;
	right: -39px;
}
.answer {
	margin-top: 50px;
	overflow: hidden;
}
/*box-questions end*/
.footer	{
	background: #284e75 url("../img/footer_bg-sm.png") no-repeat -290px center;
	background-size: auto 100%;
}
.footer .title {
	margin-bottom: 40px;
}
.footer .btn-danger {
	border-radius: 10px;
	border: 2px solid #fff;
	display: block;
	width: 80%;
	margin: 20px auto 0 auto;
	padding: 17px 0;
	text-transform: uppercase;
	position: relative;
}
.footer address {
	margin-top: 40px;
	text-align: right;
	color: #fff;
	font-size: 20px;
}
.footer address .one{
	font-size: 24px;
}
.bottom-line {
	background: rgba(33,71,109,.8);
	padding: 21px 0;
	color: #fff;
	font-size: 24px;
	font-style: italic;
}
.bottom-line span:last-child {
	color: #6296cc;
	font-size: 20px;
	font-style: normal;
	text-align: right;
}